.container {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 900px;
    text-align: center;

}

.start {
    height: 60px;
    width: 900px;
    border: 1px solid;
    background-color: green;
}

.red {
    background-color: red;
}

.cars {
    height: 60px;
    width: 900px;
    border: 1px solid;
    background-color: grey;
    display: flex;
}

.pavement {
    height: 60px;
    width: 900px;
    border: 1px solid darkgoldenrod;
}

.finish{
    height: 60px;
    width: 900px;
    border: 1px solid;
    background-color: darkgoldenrod;
}

.car-left1 {
    position: relative;
    left: 10px;
    padding: 5px;
}

.car-left2 {
    position: relative;
    left: 500px;
    padding: 5px;
}

.car-right {
    position: relative;
    left: 850px;
    padding: 5px;
}


